@font-face {
  font-family: "photon-entypo";
  src: url("fonts/photon-entypo.eot");
  src: url("fonts/photon-entypo.eot?#iefix") format("eot"), url("fonts/photon-entypo.woff") format("woff"), url("../fonts/photon-entypo.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

html {
  height: 100%;
}

body {
  -webkit-app-region: drag;
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: sans-serif;
}

.window {
  width: 100%;
  height: calc(100% - 40px);
  display: flex;
  box-sizing: border-box;
  position: absolute;
  top: 40px;
}

.window:before {
  content: "";
  background-image: linear-gradient(#fff, transparent);
  position: absolute;
  width: 90%;
  height: 40px;
  z-index: 5;
}

#allWordsHolder {
  width: 100%;
  height: 100%;
  z-index: -1;
  position: fixed;
  top: 40;
}

textarea {
  border: none;
  outline: none;
  width: 100%;
  height: 100%;
  font-size: 1.25rem;
  display: block;
  box-sizing: border-box;
  padding: 40px 20% 100px;
  -webkit-app-region: no-drag;
  font-family: menlo, monospace;
}

.toolbar-header .title {
  margin: 10px 0 0 25%;
  text-align: center;
  width: 50%;
  font-size: 1rem;
  color: #aaa;
  font-weight: 400;
  display: inline-block;
  opacity: 1;
  transition: opacity 200ms ease;
}

.toolbar-header .title.fadeOut {
  opacity: 0;
}

.btn {
  border: 1px solid #aaa;
  border-radius: 4px;
  background: none;
  float: right;
  margin: 10px;
  outline: none;
}

.btn:active {
  background: #eee;
}

.btn .icon {
  float: left;
  width: 14px;
  height: 14px;
  margin-top: 1px;
  margin-bottom: 1px;
  color: #737475;
  font-size: 14px;
  line-height: 1;
}

.icon-switch:before {
  content: '\e896';
}

.icon:before {
  position: relative;
  display: inline-block;
  font-family: "photon-entypo";
  speak: none;
  font-size: 100%;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#wordHolder {
  height: 100%;
  width: 100%;
  display: flex;
  background: #fff;
  overflow: hidden;
}

#word {
  text-align: center;
  margin: auto;
  font-size: 3em;
  z-index: 1;
  transform: translateY(-40%);
}

.toolbar {
  -webkit-app-region: drag;
  -webkit-user-select: none; /* questionable */
  opacity: 1;
  background: white;
  border: none;
  height: 50px;
}
